<section class="footer">

    <ul class="menu">

        <li><a href="https://www.ornl.gov/ornl/contact-us/Security--Privacy-Notice">Privacy</a></li>
        <li><a href="https://www.ornl.gov/content/accessibility">Accessibility</a></li>
        <li><a href="https://www.ornl.gov/content/contact-us">Contact Us</a></li>
        <li><a href="https://www.ornl.gov">ORNL Home Page</a></li>
    </ul>
  <section class="infoclassification">
  	{{ site.data.ornlinfo.classification }}
  <section>
  <section class="pagestatus">
     {{ page.pagestatus }}
  </section>
</section>

    <script src="{{ site.url }}/js/vendor/jquery.js"></script>
    <script src="{{ site.url }}/js/vendor/what-input.js"></script>
    <script src="{{ site.url }}/js/vendor/foundation.min.js"></script>
    <script src="{{ site.url }}/js/app.js"></script>
