<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{% include head.html %}
<body>
  <div class="container">

    <div class="row expanded header-section">
      <div class="medium-12 columns">
          <div class="row align-justify align-middle">
              {% include header.html %}
    </div>
    </div>
    </div>
    </div>

      <link rel="stylesheet" href="{{ SITEURL }}/assets/original_style.css">
      
      <div class="home" style="line-height:150%;">
      <div id="wrap">
      <div id="header">
      <div id="logo">
      <a href="{{ SITEURL }}/index.html">mark b. kim<span style="font-size:12px; text-decoration:none;"></span></a>
      </div>
      </div>
          
      <div id="content">
      <oh2>Contact Me</oh2>
      
      <div style="overflow:auto; height:320px; padding:0 20px 0 10px;">				
                Email: kimmb at ornl dot gov<br/>
                Mail: OAK RIDGE NATIONAL LABORATORY<br/>
                PO BOX 2008 MS6057<br/>
                OAK RIDGE TN 37831-6057<br/>
                Phone:  (865) 241-6877<br/>
                <a href="{{ SITEURL }}/assets/cv.pdf">CV</a>

                {% if site.posts %}
                {% for post in site.posts %}
                {%if post.category contains "aboutwork" %}
                <p>{{ post.content }}</p>
                {%endif%}
                {% endfor %}
                {% endif %}	
                          
      </div>
      </html>
      </div>
      <div id="text">
              
              
      <oh2>About Me</oh2>
      <div style="overflow:hidden; height:390px; padding:0 20px 0 10px;">
      <br />
      {% if site.posts %}
      {% for post in site.posts %}
      {%if post.category contains "aboutme" %}
      <p>{{ post.content }}</p>
      {%endif%}
      {% endfor %}
      {% endif %}	
                              
      </div>
      </div>
                  
      <div id="research">
      <div id="researchtextholder">
      <oh2>Publications</oh2>
      <p>
          {%assign counter=0 %}
          {% for post in site.posts  %}
          {%if post.category contains "publications" %}
          {% assign counter = counter | plus:1 %}
          <a href="{{ site.url}}{{site.baseurl}}/{{post.url }}">{{ post.summary}}</a><BR>

          {% endif %}
          {% endfor %}
          {{counter}}
          
      </div>
      </div>
      </div>
      </div>
      </div>

    <div class="row expanded footer-section">
      <div class="medium-12 columns">
        <div class="row align-justify align-middle">
    {% include footer.html %}
          </div>
        </div>
      </div>
    </div>

</body>
</html>
